<% paid_time_project = local_assigns[:project] || @project %>

<% if paid_time_project && User.current.allowed_to?(:view_time_entries, paid_time_project) %>
  <% summary = RedminePaidTimeSummary.for_project(paid_time_project) %>
  <% invoiced_filter = "cf_#{RedminePaidTimeSummary::INVOICED_CUSTOM_FIELD_ID}" %>
  <% paid_issues_url = project_issues_path(
    paid_time_project,
    set_filter: 1,
    sort: 'id:desc',
    f: ['status_id', invoiced_filter, ''],
    op: {
      'status_id' => '*',
      invoiced_filter => '='
    },
    v: {
      invoiced_filter => [RedminePaidTimeSummary::INVOICED_VALUE]
    }
  ) %>

  <div class="box">
    <h3>Total Paid Time</h3>
    <ul>
      <li>Paid issues: <%= link_to summary.paid_issues_count, paid_issues_url %></li>
      <li>Total paid time: <%= RedminePaidTimeSummary.format_hours_as_hhmm(summary.total_paid_hours) %> hours</li>
    </ul>
  </div>
<% end %>
